<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/styles.css">
        <meta charset="UTF-8">
        <style>
            html {
                background-image: url("static/images/tropicalPalm.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
            }
        </style>
        <!-- nvbar doesnt do anything just here for demonstration -->
        <nav class="nvbar">
            <ul>
                <li><a href="#">Home.</a></li>
                <li><a href="#">About.</a></li>
                <li><a href="#">Albums.</a></li>
                <li><a href="#">Story.</a></li>
                <li><a href="#">Culture.</a></li>
                <li><a href="#">Legends.</a></li>
            </ul>
        </nav>
    </head>
    <body>
        <div class="container1"></div>
        <div class="container2">
            <div class="container21">
                <h1>Pink Floyd.</h1>
                <p>Pink Floyd, the iconic British rock band, holds an esteemed place in the annals of music history. With their unique soundscapes, thought-provoking lyrics, and groundbreaking concepts, Pink Floyd has captivated audiences for decades. Emerging in the psychedelic era of the 1960s, the band's sonic experimentation and thematic depth set them apart from their contemporaries.</p>
                <p>At the heart of Pink Floyd's allure lies their ability to create immersive and emotionally charged musical journeys. Albums like "The Dark Side of the Moon," "Wish You Were Here," and "The Wall" stand as masterpieces of artistic expression. Through intricate instrumentation, mesmerizing melodies, and evocative storytelling, Pink Floyd crafted sonic tapestries that challenged conventions and resonated deeply with listeners.</p>
                <p>Beyond their musical prowess, Pink Floyd's lyrical content delves into universal themes that transcend time and place. Their exploration of existentialism, human connection, political commentary, and the human condition has resonated with generations of fans. Songs like "Comfortably Numb," "Time," and "Another Brick in the Wall" are not just anthems of a particular era but have become timeless classics that continue to resonate with listeners across the globe.</p>
            </div>
            <div class="container22">
                <img src="static\images\staring.png">
            </div>
            <div class="container23">
                <p>Even as Pink Floyd's original lineup has changed and the band members have pursued individual endeavors, their legacy endures. Their music continues to inspire new generations of musicians and fans alike, transcending boundaries of time and genre. Pink Floyd's influence on the rock and progressive music landscape is immeasurable, and their contribution to the world of music will forever be celebrated.</p>
            </div>
            <div class="container24"></div>
        </div>
        <div class="container3"></div>
        <div class="container4"></div>
        <div class="container5"></div>
        <div class="container6"></div>
    </body>
</html>